overflow: auto;
}
<style>
body {
    -webkit-font-smoothing: antialiased !important;
}
<style>
html, body {
    min-height: 100%;
}
<style>
body {
}
<style>
* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
